{% extends 'layout/account_base.html' %}

{% block title %}Pai - 로그인{% endblock %}

{% block content %}
<!-- 로그인 Form -->
<form method="POST" action="{% url 'account:login' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        {{ form.username.errors }}
        <input type="text" name="{{ form.username.name }}" class="input-box" placeholder="ID를 입력하세요."
            value="{{ form.username.value|default_if_none:'' }}">
    </div>

    <div>
        {{ form.password.errors }}
        <input type="password" name="{{ form.password.name }}" class="input-box" placeholder="Password를 입력하세요.">
    </div>

    <button type="submit" class="primary-btn">로그인</button>
</form>

<form action="{% url 'account:signup' %}">
    <button type="submit" class="secondary-btn">회원가입</button>
</form>

<div class="line-wrap">
    <div class="line"></div>
    <div style="width:20px;"></div>
    <div class="line"></div>
</div>

<form action="{% url 'chat:chat_interface' %}">
    <button type="submit" class="guest-btn">비회원으로 이용</button>
</form>
{% endblock %}