# === Django 프로젝트 공통 ===
__pycache__/
*.py[cod]
*$py.class

# === 환경 변수 / 설정 ===
.env
*.env
.vscode/
/.vscode/
.idea/

# === DB 파일 ===
/db.sqlite3
*.sqlite3

# === 검색용 DB 폴더 ===
db_search/doc_db/
db_search/ipc_db/
